.form-field {
  --line-height: 1.25;
  --content-height: calc(1em * var(--line-height));
  --height: 40rem;
  --padding-y: calc(0.5 * (var(--height) - var(--content-height) - 2 * var(--border-width)));
  --padding-x: 16rem;
  --bg: var(--gray-3);
  --border-width: 0px;

  display: inline-block;
  max-width: 100%;
  padding: var(--padding-y) var(--padding-x);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
  vertical-align: middle;
  background: var(--bg);
  border: var(--border-width) solid var(--light);
  border-radius: 8rem;
  box-shadow: inset 2px 2px 8.7px rgb(var(--black-rgb) / 15%);
  transition: var(--transition);
  transition-property: color, background-color, border-color, box-shadow;

  &:where(textarea) {
    min-height: var(--height);
    resize: vertical;
  }

  &:where(select) {
    height: var(--height);
    padding-top: 0;
    padding-bottom: 0;
  }

  &:where(:not(:blank)) {
    border-color: var(--color-dark);
  }

  &:focus-visible {
    outline: none;
  }

  &:invalid:where(.validate-active) {
    border-color: var(--color-danger);
  }

  &:--disabled {
    pointer-events: none;
    cursor: default;
  }
}
