.form-field {
  --line-height: 1.25;
  --content-height: calc(1em * var(--line-height));
  --height: 40rem;
  --padding-y: calc(0.5 * (var(--height) - var(--content-height) - 2 * var(--border-width)));
  --padding-x: 16rem;
  --font-size: var(--body-font-size);
  --font-weight: var(--body-font-weight);
  --color: var(--body-color);
  --bg: var(--gray-3);
  --border-width: 0px;
  --border-color: transparent;

  display: block;
  width: 100%;
  padding: var(--padding-y) var(--padding-x);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
  appearance: none;
  background: var(--bg);
  border: var(--border-width) solid var(--border-color);
  border-radius: 8rem;
  box-shadow: inset 2px 2px 8.7px rgb(var(--black-rgb) / 15%);
  transition: var(--base-transition);
  transition-property: color, background-color, border-color, box-shadow;

  &:where(textarea) {
    min-height: var(--height);
    resize: vertical;
  }

  &:where(select) {
    // height: var(--height);
    // padding-top: 0;
    // padding-bottom: 0;
    padding-right: calc(2 * var(--padding-x) + 15rem);
    background: url("~@images/icons/svg/angle-down.svg") right 16rem top 50% / 15rem no-repeat var(--bg);
  }

  &:invalid:where(.validation-on) {
    border-color: var(--danger);
  }

  &:--disabled {
    cursor: default;
  }

  &--timer {
    --font-size: 32rem;
    --font-weight: 700;

    text-align: center;
  }

  &--lg {
    --height: 48rem;
  }
}
