:root {
  --table-data-border-spacing: 7rem;
}

.table-data {
  display: table;
  width: calc(100% + 2 * var(--table-data-border-spacing));
  margin: negate(var(--table-data-border-spacing));
  text-align: center;
  cursor: default;
  border-spacing: var(--table-data-border-spacing);

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  thead tr {
    background: var(--primary);
  }

  thead tr:first-child th:first-child {
    border-radius: 8rem 0 0;
  }

  thead tr:first-child th:last-child {
    border-radius: 0 8rem 0 0;
  }

  th {
    padding: 5.5rem 16rem;
    font-size: 14rem;
    font-weight: 700;
    line-height: calc(19 / 14);
    color: var(--gray-3);
    white-space: nowrap;

    &[data-sort] {
      cursor: pointer;
    }
  }

  tbody tr {
    --hover-td-bg: none;

    scroll-snap-align: start;
    background: var(--secondary);
    transition: var(--base-transition);
    transition-property: color, background-color;

    @include hover {
      background: var(--secondary-dark);

      td {
        background: var(--hover-td-bg);
      }

      .table-data__target-group {
        color: var(--hover-td-bg);
      }
    }
  }

  td {
    --bg: none;

    height: 46rem;
    padding: 8rem 16rem;
    font-size: 12rem;
    line-height: calc(16 / 12);
    background: var(--bg);
    transition: inherit;

    &:has(.table-data__timer) {
      padding: 3rem;
    }
  }

  a {
    text-decoration: underline;
  }

  .table-responsive:has(.overflow-clip > &) {
    display: flex;
    max-height: calc(100vh - var(--header-height) - var(--app__main-padding-top) - var(--app__main-padding-bottom));
    scroll-snap-type: y mandatory;
    scroll-padding-top: calc(30rem + var(--table-data-border-spacing));
  }

  .overflow-clip:has(> &) {
    flex: 0 0 100%;
    align-self: flex-start;
    min-width: auto;
    border-radius: 8rem 8rem 0 0;

    &::before,
    &::after {
      display: table;
      content: "";
    }
  }

  &--events {
    thead tr:first-child th:last-child {
      background: var(--accent);
    }

    tbody tr[data-target-group="1-student"] td:first-child {
      --bg: var(--accent);
      --hover-td-bg: var(--accent-dark);
    }

    tbody tr[data-target-group="2-teacher"] td:first-child {
      --bg: var(--primary);
      --hover-td-bg: var(--primary-dark);
    }

    tbody tr[data-target-group="3-manager"] td:first-child {
      --bg: var(--tertiary);
      --hover-td-bg: var(--tertiary-dark);
    }

    td:first-child {
      color: var(--white);
    }
  }

  // stylelint-disable-next-line
  &--cabinet,
  &--brainstorm:where(.is-filled),
  &--conference,
  &--review {
    th:nth-child(1) {
      width: calc(223 / 778 * 100%);
    }

    th:nth-child(2) {
      width: calc(189 / 778 * 100%);
    }

    th:nth-child(3) {
      width: calc(227 / 778 * 100%);
    }

    th:nth-child(4) {
      width: calc(139 / 778 * 100%);
    }
  }

  &--tribune {
    th:last-child {
      width: 1%;
    }
  }

  &--brainstorm:where(:not(.is-filled)) {
    th {
      width: calc(223 / 778 * 100%);
    }
  }
}

.table-data__sort {
  --icon-height: 14rem;

  display: inline-flex;
  gap: 8rem;
  align-items: center;

  .is-active > & {
    &::after {
      margin: 0 2.5rem;
      content: "";
      border-right: 4rem solid transparent;
      border-bottom: 4rem solid;
      border-left: 4rem solid transparent;
    }

    icon-svg {
      display: none;
    }
  }

  .is-active.is-reverse > & {
    &::after {
      transform: rotateX(180deg);
    }
  }
}

.table-data__target-group {
  --icon-width: 24rem;
  --icon-height: auto;

  width: 30rem;
  aspect-ratio: 1;
  color: var(--bg);
  background: var(--white);
  border-radius: 50%;
  transition: inherit;
}

.table-data__status {
  color: var(--accent);

  &.is-completed {
    color: var(--tertiary);
  }
}

.table-data__timer {
  display: grid;
  grid-template-columns: 104rem 104rem;
  gap: var(--table-data-border-spacing);

  .form-field {
    --font-size: 14rem;
  }
}

.table-data__editable {
  position: relative;

  .form-field {
    --height: 30rem;

    position: absolute;
    top: 8rem;
    left: 16rem;
    // min-width: 160rem;
    width: calc(100% - 32rem);
  }
}
