:host {
  --icon-width: auto;
  --icon-height: 1em;
  --icon-transition: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

svg {
  display: block;
  width: var(--icon-width);
  height: var(--icon-height);
  pointer-events: none;
  fill: currentcolor;
  transition: var(--icon-transition);
}
