:host {
  --width: auto;
  --height: 1em;
  --fill: currentcolor;
  --transition: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

svg {
  display: block;
  width: var(--width);
  height: var(--height);
  pointer-events: none;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  fill: var(--fill);
  transition: var(--transition);
}
