.btn {
  --line-height: 1.25;
  --content-height: calc(1em * var(--line-height));
  --width: auto;
  --height: var(--content-height);
  --padding-y: calc(0.5 * (var(--height) - var(--content-height) - 2 * var(--border-width)));
  --padding-x: 0;
  --bg: none;
  --border-width: 0px;
  --icon-box-width: auto;
  --icon-height: var(--content-height);
  --hover-color: var(--color);
  --hover-bg: var(--bg);

  display: inline-flex;
  column-gap: 8rem;
  align-items: center;
  justify-content: center;
  width: var(--width);
  min-width: var(--height);
  max-width: 100%;
  min-height: var(--height);
  padding: var(--padding-y) var(--padding-x);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: var(--bg);
  border: var(--border-width);
  transition: var(--transition);
  transition-property: color, background-color, border-color, box-shadow;

  @include hover-not-disabled {
    color: var(--hover-color);
    background: var(--hover-bg);
  }

  &:--disabled {
    pointer-events: none;
    cursor: default;
  }

  &.wrap {
    white-space: normal;
  }

  &.w-208 {
    --width: 208rem;
  }
}

.btn__icon {
  --icon-height: inherit;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--icon-box-width);
  height: var(--content-height);
}

.btn__content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  --height: 40rem;
  --padding-x: 16rem;
  --font-weight: 700;
  --color: var(--white);
  --bg: var(--primary);
  --hover-bg: var(--primary-dark);

  border-radius: 8rem;
}

.btn-accent {
  --height: 40rem;
  --padding-x: 16rem;
  --font-weight: 700;
  --color: var(--white);
  --bg: var(--accent);
  --hover-bg: var(--accent-dark);

  border-radius: 8rem;

  &.size-lg {
    --height: 67rem;
    --padding-x: 32rem;
    --font-size: 20rem;
  }
}

.btn-action {
  --width: 30rem;
  --height: 30rem;
  --color: var(--primary);
  --bg: var(--white);
  --icon-height: 17rem;
  --hover-color: var(--primary-dark);

  border-radius: 50%;

  &:has([name="remove"]) {
    --color: var(--accent);
    --icon-height: 13rem;
    --hover-color: var(--accent-dark);
  }
}
