> 1%
last 2 versions
Firefox ESR
not dead
not op_mini all
not and_uc > 0
not and_qq > 0
not kaios > 0

#> 1%
#last 2 versions
#not ie > 0
#not samsung <= 4
#not op_mini > 0
#not op_mob <= 12.1
#not baidu > 0
#not kaios > 0
#not and_qq > 0
#not and_uc > 0
#not android <= 4.4.4
