extends /pages/index/index

include /components/event-info/event-info
include /components/form-settings/form-settings

append variables
  -
    url = 'event-settings';

block aside
  +event-info()

  nav.aside__nav
    a.aside__nav-item(
      class={ 'is-current': url === 'event-settings' }
      href="event-settings.html"
    ) Общие настройки
    a.aside__nav-item(
      href="event-settings-datetime.html"
      class={ 'is-current': url === 'event-settings-datetime' }
    ) Дата и время

block main
  h1.h3.content Общие настройки
  +form-settings()
