extends /pages/index/index

include /components/event-info/event-info
include /components/event-settings/event-settings

append variables
  -
    url = 'event-settings';

block aside
  +event-info()

  nav.aside__nav
    a.aside__nav-item(
      class={ 'is-current': url === 'event-settings' }
      href=url !== 'event-settings' ? 'event-settings.html' : null
    ) Общие настройки
    a.aside__nav-item(
      class={ 'is-current': url === 'event-settings-datetime' }
      href=url !== 'event-settings-datetime' ? 'event-settings-datetime.html' : null
    ) Дата и время

block main
  h1.h3.content Общие настройки
  +event-settings()
