extends /pages/index/index

include /components/event-info/event-info

append variables
  -
    title = `${projectName} - ${store.getPage('event-settings').title}`;

block aside
  +event-info()

  nav.aside__nav
    a.aside__nav-item.is-current(href="") Общие настройки
    a.aside__nav-item(href="") Дата и время

block main
  h1.h3.content Общие настройки
