.events__action-add {
  --fill: var(--gray-3);
  --stroke: var(--gray-4);
  --icon-bg: var(--primary);

  display: block;
  container-type: inline-size;

  &:--not-l-c {
    margin-bottom: 40rem;
  }
}

.events__action-add-body {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 8rem 12rem;
  align-items: center;
  justify-content: center;
  height: calc(217 / 1073 * 100cqi);
  padding: 12rem;
  color: var(--gray-5);
  border-radius: calc(15 / 1073 * 100%) / calc(15 / 217 * 100%);

  @include hover {
    --stroke: var(--primary);
    --icon-bg: var(--primary-dark);
  }

  @container (width < 500px) {
    flex-flow: row;
  }
}

.events__action-add-bg {
  --icon-width: 100%;
  --icon-height: 100%;

  position: absolute;
  inset: 0;
  z-index: -1;
  color: var(--fill);
  pointer-events: none;
  stroke: var(--stroke);
  transition: stroke var(--base-transition);
}

.events__action-add-icon {
  --icon-height: 13rem;

  flex-shrink: 0;
  height: 34rem;
  aspect-ratio: 1;
  color: var(--white);
  background: var(--icon-bg);
  border-radius: 8rem;
  transition: background-color var(--base-transition);
}

.events__action-add-content {
  font-size: 18rem;
  font-weight: 600;
}
