include /components/table-data/table-data

mixin events
  .events&attributes(attributes)
    a.events__action-add(href="")
      .events__action-add-body
        icon-svg.events__action-add-bg(name="border")
        icon-svg.events__action-add-icon(name="plus")
        .events__action-add-content Добавить событие

    +table-data()
