.target-groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, 197rem);
  gap: 26rem;

  @media (--max-lg) {
    grid-template-columns: repeat(auto-fit, minmax(197rem, 1fr));
    gap: var(--grid-gutter);
  }
}

.target-groups__item {
  --bg: var(--secondary);
  --hover-bg: var(--secondary);

  display: flex;
  flex-flow: column;
  container-type: inline-size;

  &--student {
    --bg: var(--accent);
    --hover-bg: var(--accent-dark);
  }

  &--teacher {
    --bg: var(--primary);
    --hover-bg: var(--primary-dark);
  }

  &--manager {
    --bg: var(--tertiary);
    --hover-bg: var(--tertiary-dark);
  }
}

.target-groups__item-body {
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: 64rem 12rem 56rem;
  background: var(--bg);
  border-radius: 8rem;
  transition: background-color var(--transition);

  @include hover {
    --bg: var(--hover-bg);
  }

  @container (width > 253rem) {
    padding-top: 30rem;
    padding-bottom: 30rem;
  }
}

.target-groups__item-icon {
  --width: 59.2rem;
  --height: auto;
  --bg: inherit;
  --transition: background-color var(--transition);

  // display: flex;
  flex-shrink: 0;
  // align-items: center;
  // justify-content: center;
  width: 74rem;
  aspect-ratio: 1;
  margin: 0 auto;
  background: var(--white);
  border-radius: 50%;

  &:--not-l-c {
    margin-bottom: 30rem;
  }

  @container (width > 253rem) {
    &:--not-l-c {
      margin-bottom: 20rem;
    }
  }
}

.target-groups__item-title {
  font-family: var(--h-font-family);
  font-size: 24rem;
  font-weight: 700;
  line-height: calc(29 / 24);
  color: var(--white);
  text-align: center;
}
