mixin target-groups
  .target-groups&attributes(attributes)
    a.target-groups__item.target-groups__item--student(href="")
      .target-groups__item-body
        .target-groups__item-icon
        .target-groups__item-title Студент
    a.target-groups__item.target-groups__item--teacher(href="")
      .target-groups__item-body
        .target-groups__item-icon
        .target-groups__item-title Педагог
    a.target-groups__item.target-groups__item--manager(href="")
      .target-groups__item-body
        .target-groups__item-icon
        .target-groups__item-title Управленец
