.target-groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(197rem, 50% - 13rem));
  gap: 26rem;

  @media (--max-lg) {
    gap: var(--grid-gutter);
  }
}

.target-groups__item {
  --bg: var(--secondary);
  --hover-bg: var(--secondary);

  display: flex;
  flex-flow: column;
  padding: 64rem 15rem 56rem;
  background: var(--bg);
  border-radius: 8rem;
  transition: background-color var(--transition);

  @include hover {
    background: var(--hover-bg);
  }

  &--student {
    --bg: var(--accent);
    --hover-bg: var(--accent-dark);

    .target-groups__item-icon::before {
      mask-image: image-set(url("~@images/icons/student.png?as=webp") 1x, url("~@images/icons/student@2x.png?as=webp") 2x);
    }
  }

  &--teacher {
    --bg: var(--primary);
    --hover-bg: var(--primary-dark);

    .target-groups__item-icon::before {
      mask-image: image-set(url("~@images/icons/teacher.png?as=webp") 1x, url("~@images/icons/teacher@2x.png?as=webp") 2x);
    }
  }

  &--manager {
    --bg: var(--tertiary);
    --hover-bg: var(--tertiary-dark);

    .target-groups__item-icon::before {
      mask-image: image-set(url("~@images/icons/manager.png?as=webp") 1x, url("~@images/icons/manager@2x.png?as=webp") 2x);
    }
  }
}

.target-groups__item-icon {
  width: 74rem;
  aspect-ratio: 1;
  margin: 0 auto;
  background: var(--white);
  border-radius: 50%;

  &::before {
    display: block;
    height: 100%;
    content: "";
    background: var(--bg);
    border-radius: inherit;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  &:--not-l-c {
    margin-bottom: 30rem;
  }
}

.target-groups__item-title {
  font-family: var(--h-font-family);
  font-size: 24rem;
  font-weight: 700;
  line-height: calc(29 / 24);
  color: var(--white);
  text-align: center;
}
