:root {
  --app__main-padding-top: 60rem;
  --app__main-padding-bottom: 60rem;
}

.app {
  --app-width: var(--body-content-width, 100vw);

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

.app__main {
  display: flex;
  flex: 1;
  flex-flow: column;
  width: 100%;
  padding: var(--app__main-padding-top) 0 var(--app__main-padding-bottom);
  background: image-set(url("~@images/bg.png?as=webp") 1x, url("~@images/bg@2x.png?as=webp") 2x) var(--body-bg);
  background-attachment: fixed;
  background-size: min(735rem, 735px);

  @media (--max-lg) {
    box-shadow: -3px 0 5px rgb(var(--black-rgb) / 10%);
    transition: margin-left 0.25s var(--base-timing-function);

    &.is-menu-open {
      margin-left: var(--aside-width);
    }
  }
}

.app__main-container {
  flex: 1;
}

.app__main-aside {
  @media (--max-lg) {
    position: absolute;
  }
}

.app__main-body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-flow: column;
}
