:root {
  --app__main_-_padding-top: 60rem;
}

.app {
  --app-width: var(--body-content-width, 100vw);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

.app__main {
  flex: 1;
  padding: var(--app__main_-_padding-top) 0;
}
