// stylelint-disable scss/operator-no-unspaced
@custom-selector :--content :where(.content, .content *):where(:not(.content-ignore, .content-ignore *));
@custom-selector :--h h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6;
@custom-selector :--link :any-link:not([href^="tel:"]);
@custom-selector :--list ul, ol;
// stylelint-enable scss/operator-no-unspaced

@mixin spacing($top, $bottom: $top) {
  &:where(:--not-f-c, .content :--not-f-c *, .mt) {
    margin-top: $top;
  }

  &:where(:--not-l-c, .content :--not-l-c *, .mb) {
    margin-bottom: $bottom;
  }
}

.content {
  --font-size: var(--body-font-size);
  --line-height: var(--body-line-height);
  --list-indent: #{to-em(40)};
  --list-marker-size: #{to-em(10)};
  --blockquote-font-size: #{to-em(24)};
  --block-spacing: #{to-em(40)};

  font-size: var(--font-size);
  line-height: var(--line-height);
}

@for $level from 1 through 6 {
  h#{$level}:--content,
  .h#{$level}:--content {
    font-family: var(--h#{$level}-font-family);
    font-size: var(--h#{$level}-font-size);
    font-weight: var(--h#{$level}-font-weight);
    line-height: var(--h#{$level}-line-height);
    color: var(--h#{$level}-color);

    @include spacing(var(--h#{$level}-spacing-top), var(--h#{$level}-spacing-bottom));
  }
}

:--h:--content + * {
  // stylelint-disable-next-line
  margin-top: 0 !important;
}

// stylelint-disable-next-line
p:--content,
.p:--content {
  @include spacing(var(--p-spacing));
}

.p:--content {
  font: inherit;
  color: inherit;
}

:--link:--content {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
  transition: color var(--base-transition);

  @include hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}

:--list:--content {
  position: relative;
  padding-left: var(--list-indent);
  list-style: none;

  @include spacing(var(--p-spacing));
}

:--list > li:--content {
  &::before {
    position: absolute;
    left: 0;
    width: var(--list-indent);
    text-align: right;
  }

  @include spacing(calc(0.5 * var(--p-spacing)));
}

ul > li:--content {
  &::before {
    content: "\2014\00A0";
  }
}

ol:--content {
  counter-reset: ol;
}

ol > li:--content {
  counter-increment: ol;

  &::before {
    content: counter(ol) ".\00A0";
  }
}

dl:--content {
  @include spacing(var(--p-spacing));
}

dt:--content {
  font-weight: 700;

  @include spacing(40rem, 14rem);
}

blockquote:--content {
  padding-left: calc(var(--list-indent) - 4rem);
  font-size: var(--blockquote-font-size);
  border-left: 4rem solid var(--light);

  @include spacing(var(--block-spacing));
}

.table-responsive {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:--content {
    @include spacing(var(--block-spacing));
  }

  table:--content {
    margin: 0;
  }
}

table:--content {
  border-collapse: collapse;

  @include spacing(var(--block-spacing));
}

tr:first-child :is(th, td):--content {
  padding-top: 0;
}

tr:last-child :is(th, td):--content {
  padding-bottom: 0;
}

:is(th, td):--content {
  padding: calc(0.5 * var(--p-spacing)) calc(0.5 * var(--grid-gutter));
  vertical-align: baseline;
}

:is(th, td):first-child:--content {
  padding-left: 0;
}

:is(th, td):last-child:--content {
  padding-right: 0;
}

td:first-child:--content {
  color: var(--light);
}

:is(img:not(picture *, figure *), picture:not(figure *)):--content {
  @include spacing(var(--block-spacing));
}

figure:--content {
  text-align: center;

  @include spacing(var(--block-spacing));
}

figcaption:--content {
  margin-top: calc(0.5 * var(--p-spacing));
  font-size: 13rem;
  font-style: italic;
}

hr:--content {
  margin: var(--h-spacing-bottom) 0 var(--h-spacing-top);
  border: 0;
  border-top: 1px solid var(--light);
}

.highlight:--content {
  padding: 0 4rem;
  background: var(--primary);
}
