-
  const store = {
    pages: [
      {
        url: 'index',
        title: 'Главная',
      },
      {
        url: 'event-create',
        title: 'Создание события',
      },
      {
        url: 'event-settings',
        title: 'Настойки события -> Общие',
      },
    ],
    getPage(url) {
      return this.pages.find((page) => page.url === url);
    },
  };
