-
  const store = {
    pages: [
      {
        url: 'index',
        title: 'Главная',
      },
      {
        url: 'event-create',
        title: 'Создание события',
      },
      {
        url: 'event-settings',
        title: 'Настройки события -> Общие',
      },
      {
        url: 'event-settings-datetime',
        title: 'Настройки события -> Дата и время',
      },
      {
        url: 'event-request-sign-up',
        title: 'Событие -> Запрос регистрации',
      },
    ],
    getPage(url) {
      return this.pages.find((page) => page.url === url);
    },
  };
