.comment {
  &:--not-lc {
    margin-bottom: 100rem;
  }
}

.comment__person {
  padding-right: percentage(div(30, 310));

  @media (--min-md) {
    position: sticky;
    top: 30rem;
  }

  @media (--max-lg) {
    padding-right: 0;
  }
}

.comment__person-image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 20rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;

  @media (--max-md) {
    width: 280rem;
    margin: 0 auto 20rem;
  }
}

.comment__person-name {
  font-size: 24rem;
  color: var(--color-primary);
  text-transform: uppercase;

  @media (--max-md) {
    text-align: center;
  }
}

.comment__person-info {
  font-size: 16rem;
  text-transform: uppercase;

  @media (--max-md) {
    text-align: center;
  }
}

.comment__content {
  --font-size: 28rem;

  padding-top: 45rem;
}
