extends /pug/base

include /components/header/header
include /components/footer/footer
include /components/aside/aside
include /components/user-info/user-info
include /components/target-groups/target-groups

append variables
  -
    url = 'index';
    let aside = true;

block app
  +header(aside)

  main.app__main(x-bind="appMain")
    .container.grid-12.app__main-container
      if aside
        .col-3-min-lg.app__main-aside
          +aside()
            block aside
              +user-info()

              nav.aside__nav
                a.aside__nav-item(href="") Пользователи
                a.aside__nav-item(href="") Настройки

      .col-12(
        class=aside ? ['col-9-min-lg', 'col-7-min-xl', 'col-start-5-min-xl', 'app__main-body'] : 'app__main-body'
      )
        block main
          h1.h3.content Целевые группы
          +target-groups()
