extends /pug/base

include /components/header/header
include /components/footer/footer

block app
  +header()

  main.app__main(x-bind="appMain")
    .container.grid-12.app__main-container
      .col-span-3-min-lg
        aside.aside
          .aside__body
            .user
              +content().user__content
                .h5 Иванов Иван
                .p
                  a(href="mailto:ivanov@mail.ru") ivanov@mail.ru

            nav.aside__nav
              a.aside__nav-item.is-current(href="") Пользователи
              a.aside__nav-item(href="") Настройки

      .col-span-12.col-span-9-min-lg.col-span-8-min-xl.col-start-5-min-xl(style="min-height: 2000px;")
        h1.h3.content Целевые группы
        p Content

  //-+footer()
