extends /pug/base

include /components/header/header
include /components/footer/footer

block app
  +header()

  main.app__main(x-bind="appMain")
    .container.grid-12
      .col-span-3-min-lg
        aside.aside
          .aside__body

      .col-span-12.col-span-8-min-lg.col-start-5-min-lg(style="min-height: 2000px;")
        h1.h3.content Целевые группы
        p Content

  //-+footer()
