.sign-up-form {
  container-type: inline-size;
}

.sign-up-form__body {
  display: flex;
  flex-flow: column;
  gap: 36rem;
}

.sign-up-form__main {
  display: flex;
  flex-flow: column;
  gap: 20rem;
}

.sign-up-form__group {
  display: flex;
  flex-flow: column;
  gap: 8rem;
}
