mixin pages(pages)
  if pages.length
    ol
      each page in pages
        if !page.hidden
          li
            a(href=`${page.url}.html`)= page.title
            if page.pages
              +pages(page.pages)
