.block-heading {
  --padding-top: 60rem;
  --padding-bottom: 68rem;
  --padding-x: 48rem;
  --border-radius: 50rem;

  container-type: inline-size;

  &--event {
    max-width: 1130rem;
    margin: 0 auto;
  }

  &--sign-up {
    // .
  }
}

.block-heading__body {
  display: flex;
  flex-flow: column;

  @container (width < 600px) {
    --padding-top: 44rem;
    --padding-bottom: 52rem;
    --padding-x: 32rem;
  }
}

.block-heading__header {
  padding: 20rem var(--padding-x) 12rem;
  background: var(--primary);
  border: 3px solid var(--primary);
  border-bottom: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.block-heading__title {
  font-family: var(--h-font-family);
  font-size: 32rem;
  font-weight: var(--h-font-weight);
  line-height: 1.25;
  color: var(--white);

  @container (width < 600px) {
    font-size: 28rem;
  }
}

.block-heading__main {
  padding: var(--padding-top) var(--padding-x) var(--padding-bottom);
  background: var(--white);
  border: 3px solid var(--primary);
  border-top: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.block-heading__event {
  display: grid;
  gap: 32rem;

  @container (width >= 600px) {
    --col-1: #{calc((1028 - 32 - 316) / (1028 - 32) * 1fr)};
    --col-2: #{calc(316 / (1028 - 32) * 1fr)};

    grid-template-columns: var(--col-1) var(--col-2);
  }

  @container (width < 600px) {
    justify-items: center;
    text-align: center;

    > * {
      max-width: 100%;
    }
  }
}

.block-heading__event-col-2 {
  @container (width >= 600px) {
    grid-row: span 2;
  }
}

.block-heading__event-col-3 {
  margin-top: auto;
}

.block-heading__event-title {
  font-family: var(--h-font-family);
  font-size: 42rem;
  font-weight: var(--h-font-weight);
  line-height: 1.25;
  color: var(--accent);

  @container (width < 600px) {
    font-size: 38rem;
  }
}

.block-heading__event-gr {
  display: block;
  width: 100%;

  @container (width < 600px) {
    max-width: 196rem;
  }
}
