:root {
  @media (--max-lg) {
    scroll-padding-top: 64rem;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  height: 0;
  background: #FFF;

  @media (--max-lg) {
    align-items: center;
    height: 64rem;
    padding: 10px var(--container-padding);
    border-bottom: 1px solid var(--color-primary);
  }
}

.header__logo {
  width: 52rem;
  margin: 30rem var(--container-padding) 0 auto;
  color: var(--color-primary);

  @media (--max-lg) {
    width: 28rem;
    margin: 0 0 0 auto;
  }
}

.header__btn-nav {
  --icon-width: 24rem;
  --icon-height: auto;

  color: var(--color-primary);

  @media (--min-lg) {
    display: none;
  }
}
