.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: column;
  height: 80rem;
  background: var(--color-white);
}

.header__container {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__logo {
  width: 195rem;
}

.header__btn-nav {
  --icon-width: 24rem;
  --icon-height: auto;

  color: var(--color-primary);

  @media (--min-lg) {
    display: none;
  }
}
