mixin header
  header.header&attributes(attributes)
    .container.header__container
      //-+btn({ iconPrev: 'list' }).header__btn-nav(x-on:click="toggleNav")
      a.header__logo(href="/")
        img(
          src="~@images/logo.png?as=webp"
          srcset="~@images/logo.png?as=webp 195w, ~@images/logo@2x.png?as=webp 390w, ~@images/logo@2x.png?as=webp 585w"
          sizes="195rem"
          alt=""
        )
