:root {
  --header_-_height: 80rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: column;
  height: var(--header_-_height);
  background: var(--white);
  box-shadow: 0 3px 4px rgb(var(--black-rgb) / 4%);
}

.header__container {
  flex: 1;
  align-items: center;
}

.header__logo {
  display: block;
  width: 195rem;

  img {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}

.header__nav {
  display: flex;
  gap: 30rem;
  margin-top: 10rem;
}

.header__nav-item {
  font-weight: 400;
  color: var(--link-color);
  transition: color var(--transition);

  @include hover {
    color: var(--link-hover-color);
  }
}

.header__actions {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5rem;
}

.header__btn-nav {
  --icon-width: 24rem;
  --icon-height: auto;

  color: var(--primary);

  @media (--min-lg) {
    display: none;
  }
}
