mixin stage(title)
  .stage&attributes(attributes)
    .stage__body
      .stage__header
        h1.h1.content.stage__title!= title
        +btn({ tag: 'a', content: 'Далее', icons: ['arrow-right'] }).stage__btn-next(href="")

      .stage__main
        block
