.stage {
  &--cabinet,
  &--brainstorm.is-filled {
    .stage__params-body {
      grid-template-columns: 223fr 189fr 227fr 139fr;
    }

    .stage__params-body > :nth-child(3) {
      grid-column: span 2;
    }
  }

  // stylelint-disable-next-line
  &--tribune,
  &--brainstorm:not(.is-filled) {
    .stage__params-body {
      grid-template-columns: 223fr 223fr 223fr;
    }
  }

  @media (--max-md) {
    &--cabinet,
    &--brainstorm.is-filled {
      .stage__params-body {
        grid-template-columns: 1fr 1fr;
      }
    }

    // stylelint-disable-next-line
    &--tribune,
    &--brainstorm:not(.is-filled) {
      .stage__params-body {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.stage__header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--grid-gutter);
  align-items: center;
  font-size: var(--h1-font-size);

  &:--not-l-c {
    margin-bottom: var(--h1-spacing-bottom);
  }

  @media (--max-md) {
    grid-template-columns: none;
  }
}

.stage__title {
  margin: 0;
}

.stage__subtitle {
  align-self: start;
  margin-top: -7rem;
  font-size: 24rem;
  font-weight: 700;
  color: var(--accent);
}

.stage__btn-next {
  --gap: 10rem;
  --font-weight: 600;
  --icon-height: 16rem;
  --hover-color: var(--primary-dark);

  flex-direction: row-reverse;

  @media (--max-md) {
    grid-row-start: 1;
    margin-left: auto;
  }
}

.stage__params {
  margin-bottom: 24rem;
}

.stage__params-body {
  display: grid;
  gap: var(--table-data-border-spacing);
  align-items: end;
}
