.stage {
  &--cabinet {
    .stage__params-body {
      grid-template-columns: 223fr 189fr 227fr 139fr;
    }

    .stage__params-body > :nth-child(3) {
      grid-column: span 2;
    }
  }

  @media (--max-md) {
    &--cabinet {
      .stage__params-body {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.stage__header {
  display: flex;
  gap: var(--grid-gutter);
  align-items: center;
  font-size: var(--h1-font-size);

  &:--not-l-c {
    margin-bottom: var(--h1-spacing-bottom);
  }

  @media (--max-md) {
    flex-direction: column;
    align-items: stretch;
  }
}

.stage__title {
  flex: 1;
  margin: 0;
}

.stage__btn-next {
  --gap: 10rem;
  --font-weight: 600;
  --icon-height: 16rem;
  --hover-color: var(--primary-dark);

  flex-direction: row-reverse;

  @media (--max-md) {
    order: -1;
    margin-left: auto;
  }
}

.stage__params {
  margin-bottom: 24rem;
}

.stage__params-body {
  display: grid;
  gap: var(--table-data-border-spacing);
  align-items: end;
}
