.stage {
  &--cabinet,
  &--brainstorm:where(.is-filled),
  &--conference {
    .stage__params-body {
      grid-template-columns: 223fr 189fr 227fr 139fr;
    }

    .stage__params-body > :nth-child(3) {
      grid-column: span 2;
    }
  }

  // stylelint-disable-next-line
  &--tribune,
  &--brainstorm:where(:not(.is-filled)) {
    .stage__params-body {
      grid-template-columns: 223fr 223fr 223fr;
    }
  }

  @media (--max-md) {
    &--cabinet,
    &--brainstorm:where(.is-filled),
    &--conference {
      .stage__params-body {
        grid-template-columns: 1fr 1fr;
      }
    }

    // stylelint-disable-next-line
    &--tribune,
    &--brainstorm:where(:not(.is-filled)) {
      .stage__params-body {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.stage__header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--grid-gutter);
  align-items: center;
  font-size: var(--h1-font-size);

  &:--not-l-c {
    margin-bottom: var(--h1-spacing-bottom);
  }

  @media (--max-md) {
    grid-template-columns: none;
  }
}

.stage__title {
  margin: 0;
}

.stage__subtitle {
  align-self: start;
  margin-top: -7rem;
  font-size: 24rem;
  font-weight: 700;
  color: var(--accent);
}

.stage__btn-next {
  --gap: 10rem;
  --font-weight: 600;
  --icon-height: 16rem;
  --hover-color: var(--primary-dark);

  flex-direction: row-reverse;

  @media (--max-md) {
    grid-row-start: 1;
    margin-left: auto;
  }
}

.stage__params {
  margin-bottom: 24rem;
}

.stage__params-body {
  display: grid;
  gap: var(--table-data-border-spacing);
  align-items: end;
}

.stage__command {
  --border-radius: 15rem;

  &:--not-l-c {
    margin-bottom: 30rem;
  }

  &:has(.stage__command-main:not([hidden])) {
    .stage__command-header-icon {
      transform: rotateX(180deg);
    }
  }
}

.stage__command-header {
  display: flex;
  gap: 8rem 20rem;
  align-items: center;
  min-height: 60rem;
  padding: 4rem 16rem;
  cursor: pointer;
  background: var(--primary);
  border: 3px solid var(--primary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  @media (--max-sm) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.stage__command-title {
  flex: 1;
  overflow: hidden;
  font-size: 24rem;
  font-weight: 700;
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (--max-sm) {
    font-size: 22rem;
  }
}

.stage__command-header-icon {
  --icon-height: 18rem;

  flex-shrink: 0;
  color: transparent;
  stroke: var(--white);
}

.stage__command-main {
  padding: 20rem 16rem;
  background: var(--white);
  border: 3px solid var(--primary);
  border-top: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.stage__command-timer {
  display: grid;
  grid-template-columns: 104rem 104rem;
  gap: var(--table-data-border-spacing);

  .form-field {
    --height: 46rem;
    --font-size: 14rem;
  }

  .form-field--timer {
    --font-size: 14rem;
  }

  .btn {
    --height: 46rem;
  }

  @media (--max-sm) {
    grid-row: 2;
    margin-right: auto;

    & + .stage__command-header-icon {
      grid-row: span 2;
    }
  }
}
