@forward "variables";
@forward "functions";
@forward "mixins";
@use "variables" as *;

// Custom Selectors
@custom-selector :--invalid .is-invalid;
@custom-selector :--disabled :disabled, .is-disabled;
@custom-selector :--not-f-c :not(:first-child);
@custom-selector :--not-l-c :not(:last-child);

// Custom Media Queries
// Styles for hover-devices
@custom-media --hover (hover: hover);

@each $name, $value in $grid-breakpoints {
  // stylelint-disable-next-line
  @custom-media --min-#{$name} (min-width: #{$value});
}

@each $name, $value in $grid-breakpoints {
  // stylelint-disable-next-line
  @custom-media --max-#{$name} (max-width: #{$value - 0.02});
}
