// Sizes: 96x96, 192x192 - 64 (max base) * 1.5 (max scale) * 2 (max DPR)
$icons-set:
  student,
  teacher,
  manager;

@mixin make-icons {
  @each $icon in $icons-set {
    .icon-#{$icon} {
      &::before {
        mask-image: image-set(url("~@images/icons/#{$icon}.png?as=webp") 1x,
          url("~@images/icons/#{$icon}@2x.png?as=webp") 2x);
      }
    }
  }
}

.icon {
  --icon-width: auto;
  --icon-height: 1em;
  --icon-aspect-ratio: 1;
  --icon-transition: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &::before {
    display: block;
    width: var(--icon-width);
    height: var(--icon-height);
    aspect-ratio: var(--icon-aspect-ratio);
    pointer-events: none;
    content: "";
    background: currentcolor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    transition: var(--icon-transition);
  }
}

@include make-icons;
