@use "sass:math";
@use "sass:color";
@use "variables" as *;
@use "functions" as *;

// stylelint-disable no-duplicate-selectors, custom-property-empty-line-before
// Responsive sizes
:root {
  font-size: min(0.8 / strip-unit($xxl) * 100vw + 0.2px, 18px / 16);

  @media (--max-xxl) {
    font-size: max(0.2 / strip-unit($xxl) * 100vw + 0.8px, 14px / 16);
  }
}

// Layout
:root {
  --container-max-width: none;
  --container-padding: 30rem;
  --grid-count: #{$grid-count};
  --grid-gutter: 30rem;
  --col-size: calc((100% - (var(--grid-count) - 1) * var(--grid-gutter)) / var(--grid-count));

  @media (--max-lg) {
    --container-padding: 15rem;
    --grid-gutter: 20rem;
  }
}

// Colors
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
    --#{$color}-rgb: #{to-rgb($value)};
  }
}

// Theme colors
:root {
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
    --#{$color}-rgb: #{to-rgb($value)};
  }
}

// Gradients
:root {
  @each $gradient, $value in $gradients {
    --#{$gradient}: #{$value};
  }
}

// Defaults
:root {
  --base-duration: 0.15s;
  --base-timing-function: ease-in-out;
  --base-transition: var(--base-duration) var(--base-timing-function);

  --root-scroll-behavior: smooth;
  --root-scroll-padding-top: calc(var(--header-height) + var(--app__main-padding-top));

  --body-overscroll-behavior: auto;
  --body-font-family: var(--font-manrope);
  --body-font-size: 16rem;
  --body-font-weight: 500;
  --body-line-height: #{calc(22 / 16)}; // normal: 1.1 - 1.25
  --body-color: var(--black);
  --body-color-rgb: var(--black-rgb);
  --body-bg: var(--white);
  --body-bg-rgb: var(--white-rgb);
  --body-selection-color: var(--white);
  --body-selection-bg: var(--primary);

  --h-spacing-top: 1em;
  --h-spacing-bottom: 1em;
  --h-font-family: var(--font-bitter);
  --h-font-size: 2em;
  --h-font-weight: 700;
  --h-line-height: 1.25;
  --h-color: inherit;

  --h1-spacing-top: var(--h-spacing-top);
  --h1-spacing-bottom: var(--h-spacing-bottom);
  --h1-font-family: var(--h-font-family);
  --h1-font-size: 32rem;
  --h1-font-weight: var(--h-font-weight);
  --h1-line-height: var(--h-line-height);
  --h1-color: var(--h-color);

  --h2-spacing-top: var(--h-spacing-top);
  --h2-spacing-bottom: var(--h-spacing-bottom);
  --h2-font-family: var(--h-font-family);
  --h2-font-size: 28rem;
  --h2-font-weight: var(--h-font-weight);
  --h2-line-height: var(--h-line-height);
  --h2-color: var(--h-color);

  --h3-spacing-top: #{calc(40em / 24)};
  --h3-spacing-bottom: var(--h3-spacing-top);
  --h3-font-family: var(--h-font-family);
  --h3-font-size: 24rem;
  --h3-font-weight: var(--h-font-weight);
  --h3-line-height: var(--h-line-height);
  --h3-color: var(--h-color);

  --h4-spacing-top: var(--h-spacing-top);
  --h4-spacing-bottom: var(--h-spacing-bottom);
  --h4-font-family: var(--h-font-family);
  --h4-font-size: 20rem;
  --h4-font-weight: var(--h-font-weight);
  --h4-line-height: var(--h-line-height);
  --h4-color: var(--h-color);

  --h5-spacing-top: var(--h-spacing-top);
  --h5-spacing-bottom: var(--h-spacing-bottom);
  --h5-font-family: var(--h-font-family);
  --h5-font-size: 18rem;
  --h5-font-weight: 600;
  --h5-line-height: var(--h-line-height);
  --h5-color: var(--h-color);

  --h6-spacing-top: var(--h-spacing-top);
  --h6-spacing-bottom: var(--h-spacing-bottom);
  --h6-font-family: var(--h-font-family);
  --h6-font-size: 16rem;
  --h6-font-weight: var(--h-font-weight);
  --h6-line-height: var(--h-line-height);
  --h6-color: var(--h-color);

  --p-spacing: calc(1em * var(--body-line-height));

  --link-color: var(--primary);
  --link-color-rgb: var(--primary-rgb);
  --link-decoration: none;
  --link-hover-color: var(--primary-dark);
  --link-hover-color-rgb: var(--primary-dark-rgb);
  --link-hover-decoration: underline;
}
