@use "sass:color";

// Layout
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1400px;
$xxl: 1920px; // default
$xxxl: 2560px;
$grid-breakpoints: (
  // xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  // xxxl: $xxxl
);
$grid-count: 12;

// Colors
$black: #000;
$white: #fff;
$persimmon: #ff5c51;
$colors: (
  "black": $black,
  "white": $white,
  "persimmon": $persimmon,
);

// Theme colors
$primary: #00a9d7;
$accent: $persimmon;
$accent-dark: color.mix(black, $accent, 20%);
// Default theme colors
$primary: #0d6efd !default;
$primary-dark: color.mix(black, $primary, 20%) !default;
$secondary: #6c757d !default;
$success: #198754 !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #212529 !default;
$theme-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "accent": $accent,
  "accent-dark": $accent-dark,
);

// Gradients
$gradients: (
);

// Utilities
$spacer: 4rem;
$spacers: 0, px, auto,
  0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4,
  5, 6, 7, 8, 9, 10, 11, 12,
  // 14, 16, 18, 20,
  24, // 28, 32, 36, 40, 44, 48, 52, 56, 60, 64,
  // 72, 80,
  // 96;
