@use "sass:color";
@use "functions/colors" as *;

// Layout
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1400px;
$xxl: 1920px; // default
$xxxl: 2560px;
$grid-breakpoints: (
  // xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  // xxxl: $xxxl
);
$grid-count: 12;

// Colors
$black: #000;
$white: #FFF;
$persimmon: #FF5C51;
$foam: #D5F2FD;
$endeavour: #005AB3;
$gray: #F0F0F0;
$gray-2: #CFCFCF;
$gray-3: #F7F7F7;
$gray-4: #8D8D8D;
$gray-5: #8F8F8F;
$gray-6: #959595;
$colors: (
  "black": $black,
  "white": $white,
  "persimmon": $persimmon,
  "foam": $foam,
  "endeavour": $endeavour,
  "gray": $gray,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
  "gray-6": $gray-6,
);

// Theme colors
// Overwrite
$primary: #00A9D7;
$primary-dark: shade-color($primary, 15%);
$secondary: $foam;
$secondary-dark: shade-color($secondary, 10%);
// Additional
$tertiary: $endeavour;
$tertiary-dark: shade-color($tertiary, 15%);
$accent: $persimmon;
$accent-dark: shade-color($accent, 15%);
// Default theme colors
$primary: #0D6EFD !default;
$primary-dark: shade-color($primary, 20%) !default;
$secondary: #6C757D !default;
$secondary-dark: shade-color($secondary, 20%) !default;
$success: #198754 !default;
$info: #0DCAF0 !default;
$warning: #FFC107 !default;
$danger: #DC3545 !default;
$light: #F8F9FA !default;
$dark: #212529 !default;
$theme-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  // Additional
  "tertiary": $tertiary,
  "tertiary-dark": $tertiary-dark,
  "accent": $accent,
  "accent-dark": $accent-dark,
);

// Gradients
$gradients: (
);

// Base
$base-em: 16px;
$base-vw: $xxl;

// Utilities
$spacer: 4rem;
$spacers: 0, px, auto,
  0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4,
  5, 6, 7, 8, 9, 10, 11, 12,
  // 14, 16, 18, 20,
  24, // 28, 32, 36, 40, 44, 48, 52, 56, 60, 64,
  // 72, 80,
  // 96;
