@use "sass:math";
@use "sass:color";

// stylelint-disable no-duplicate-selectors, custom-property-empty-line-before
// Responsive sizes
:root {
  font-size: clamp(14px / 16, 1 / strip-unit($xxl) * 100vw, 18px / 16);

  // @media (--max-xxl) {
  //   font-size: calc(0.4 / strip-unit($xxl) * 100vw + 0.6px);
  // }

  // @media (--max-lg) {
  //   font-size: calc(0.3 / strip-unit($lg) * 100vw + 0.7px);
  // }
}

// Layout
:root {
  --container-max-width: none;
  --container-padding: 30rem;
  --grid-count: #{$grid-count};
  --grid-gutter: 30rem;
  --col-size: calc((100% - (var(--grid-count) - 1) * var(--grid-gutter)) / var(--grid-count));

  @media (--max-lg) {
    --container-padding: 15rem;
  }
}

// Colors
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
    --#{$color}-rgb: #{to-rgb($value)};
  }
}

// Theme colors
:root {
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
    --#{$color}-rgb: #{to-rgb($value)};
  }
}

// Gradients
:root {
  @each $gradient, $value in $gradients {
    --#{$gradient}: #{$value};
  }
}

// Defaults
:root {
  --font-family: var(--font-manrope);
  --font-size: 16rem;
  --font-weight: 500;
  --line-height: #{calc(22 / 16)}; // normal: 1.1 - 1.25
  --color: var(--black);
  --color-rgb: var(--black-rgb);
  --bg: var(--white);
  --bg-rgb: var(--white-rgb);

  --h-spacing-top: 1em;
  --h-spacing-bottom: 1em;
  --h-font-family: var(--font-bitter);
  --h-font-size: 2em;
  --h-font-weight: 700;
  --h-line-height: 1.25;
  --h-color: inherit;

  --h1-spacing-top: var(--h-spacing-top);
  --h1-spacing-bottom: var(--h-spacing-bottom);
  --h1-font-family: var(--h-font-family);
  --h1-font-size: 32rem;
  --h1-font-weight: var(--h-font-weight);
  --h1-line-height: var(--h-line-height);
  --h1-color: var(--h-color);

  --h2-spacing-top: var(--h-spacing-top);
  --h2-spacing-bottom: var(--h-spacing-bottom);
  --h2-font-family: var(--h-font-family);
  --h2-font-size: 28rem;
  --h2-font-weight: var(--h-font-weight);
  --h2-line-height: var(--h-line-height);
  --h2-color: var(--h-color);

  --h3-spacing-top: var(--h-spacing-top);
  --h3-spacing-bottom: var(--h-spacing-bottom);
  --h3-font-family: var(--h-font-family);
  --h3-font-size: 24rem;
  --h3-font-weight: var(--h-font-weight);
  --h3-line-height: var(--h-line-height);
  --h3-color: var(--h-color);

  --h4-spacing-top: var(--h-spacing-top);
  --h4-spacing-bottom: var(--h-spacing-bottom);
  --h4-font-family: var(--h-font-family);
  --h4-font-size: 20rem;
  --h4-font-weight: var(--h-font-weight);
  --h4-line-height: var(--h-line-height);
  --h4-color: var(--h-color);

  --h5-spacing-top: var(--h-spacing-top);
  --h5-spacing-bottom: var(--h-spacing-bottom);
  --h5-font-family: var(--h-font-family);
  --h5-font-size: 16rem;
  --h5-font-weight: var(--h-font-weight);
  --h5-line-height: var(--h-line-height);
  --h5-color: var(--h-color);

  --h6-spacing-top: var(--h-spacing-top);
  --h6-spacing-bottom: var(--h-spacing-bottom);
  --h6-font-family: var(--h-font-family);
  --h6-font-size: 12rem;
  --h6-font-weight: var(--h-font-weight);
  --h6-line-height: var(--h-line-height);
  --h6-color: var(--h-color);

  --p-spacing: calc(1em * var(--line-height));

  --link-color: var(--color-primary);
  --link-color-rgb: var(--color-primary-rgb);
  --link-decoration: underline;
  --link-hover-color: var(--primary-dark);
  --link-hover-color-rgb: var(--primary-dark-rgb);
  --link-hover-decoration: none;

  --selection-color: var(--white);
  --selection-bg: var(--primary);

  --transition-duration: 0.15s;
  --transition-timing-function: ease-in-out;
  --transition: var(--transition-duration) var(--transition-timing-function);

  --scroll-behavior: smooth;
  --overscroll-behavior: auto;
  --scroll-padding-top: calc(var(--header_-_height) + var(--app__main_-_padding-top));
}
