:root {
  --section-intro_-_padding-y: 90rem;

  @media (--max-lg) {
    --section-intro_-_padding-y: 70rem;
  }
}

.section-intro {
  position: sticky;
  top: min(100vh - var(--height), 0px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #FFF;
  background: var(--color-primary);

  .is-device-mobile & {
    position: relative;
    top: auto;
  }
}

.section-intro__body {
  padding: var(--section-intro_-_padding-y) 0;
  margin: auto 0;
}

.section-intro__grid {
  align-items: start;
}

.section-intro__col-1 {
  position: sticky;
  top: var(--section-intro_-_padding-y);
}

.section-intro__col-2 {
  margin: auto 0;
}

.section-intro__logo {
  width: percentage(div(394, 530));

  @media (--max-sm) {
    width: auto;
  }
}

.section-intro__content {
  --font-size: 22rem;
}

.section-intro__btn {
  --icon-width: 23rem;
  --icon-height: auto;

  position: sticky;
  bottom: 20rem;
  display: flex;
  width: 45rem;
  height: 45rem;
  margin: -65rem auto 20rem;
  color: #FFF;

  @media (--max-md) {
    display: none;
  }
}
