.event-settings {
  container-type: inline-size;
}

.event-settings__body {
  display: flex;
  flex-flow: column;
  gap: 36rem;
}

.event-settings__main {
  display: flex;
  flex-flow: column;
  gap: 28rem;
  max-width: 488rem;
}

.event-settings__group {
  display: flex;
  flex-flow: column;
  gap: 8rem;
}

.event-settings__footer {
  max-width: 488rem;
}
