extends /pages/index/index

include /components/block-heading/block-heading

append variables
  -
    aside = false;

block main
  .grid-12.my-auto
    .col-12.col-10-min-lg.col-start-2-min-lg.col-8-min-xl.col-start-3-min-xl
      +block-heading('27.06.2024').block-heading--event
        .block-heading__event
          .block-heading__event-col-1
            .block-heading__event-title Новое событие Флагманы Образования
          .block-heading__event-col-2
            +img-2x().block-heading__event-gr(src="~@images/QR-Code.png")
          .block-heading__event-col-3
            +btn({content: 'Пожалуйста, зарегистрируйтесь!'}).btn--accent.btn--lg.btn--text-wrap
