// Open Graph
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="https://example.com/upload/og.png")
meta(property="og:image:width" content="640")
meta(property="og:image:height" content="320")
meta(property="og:image:type" content="image/png")
meta(property="og:type" content="website")
meta(property="og:url" content="https://example.com/")
meta(property="og:locale" content="ru_RU")
meta(name="twitter:card" content="summary_large_image")
// /Open Graph
